.app-email {
  position: absolute;
  width   : 100%;
  padding : 0 50px;
  bottom  : 0;
  overflow: auto;
  top: 0;
  .el-autocomplete {
    display: block;
  }

  .app-email-section {
    height: 100%;
    .layout-list-content {
      background: #fff;
      width     : calc(100% - 250px);
      min-height: 100%;
      position  : relative;
      left      : 240px;
      box-sizing: border-box;

      &-search-btn-groups {
        display        : flex;
        justify-content: flex-end;

        >.el-dropdown+.el-dropdown {
          margin-left: 10px;
        }
      }
    }

    .mail-content-tips {
      >div {
        padding: 5px 0;
      }

      label {
        color: $--color-text-light;
      }
    }

    tr.noRead * {
      font-weight: bold;

      i {
        font-weight: normal;
      }
    }
  }
}

