@mixin app-conent($top: 120px) {
  margin-top: $top;
  padding-top: 5px;
}

.app-content {
  &--standalone {
    @include app-conent(120px);
  }

  &--coalesce {
    @include app-conent(60px);
  }
}

.app-navbar {
  position: absolute;
  top: 0;
  width: 100%;

  .page-navbar-header {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  }

  .logo {
    float: left;
    height: 40px;
    margin-top: 10px;
  }

  .page-header {
    height: 60px;
    margin: 0 auto;
    width: 80%;

    .el-input__inner {
      background-color: #f2f2f2;
      border: none;
      border-radius: 30px;
      height: 30px;
      line-height: 30px;
      outline: none;
    }

    &-menu {
      height: 100%;
      margin: 0 340px 0 200px;
    }

    &-action {
      float: right;
      margin-top: 10px;
      display: flex;
      align-items: center;
      &-search {
        display: inline-block;
        vertical-align: top;
        width: 180px;

        i {
          font-size: 16px;
          line-height: 30px;
        }
      }

      .el-avatar {
        background-color:transparent;
        color: $--color-primary;
        position: relative;
        top: 2px;
        &.user-name {
          background: $--color-primary;
          color: #fff;
        }
        &:hover,
        &.focusing {
          background-color: $--color-primary;
          color: $--color-white;
          outline-color: $--color-primary;
        }
      }

      .el-icon-arrow-down,
      .el-icon-search {
        color: $--color-primary;
        line-height: 32px;
        vertical-align: top;
      }

      > div {
        margin-left: 10px;
      }
    }
  }

  .standalone {
    .page-header-menu {
      margin: 0;
    }

    .el-menu {
      padding: 0 10%;
    }
  }

  .el-menu.el-menu--horizontal {
    border-bottom: none;

    .el-menu-item {
      font-size: 16px;
      position: relative;
      height: 44px;
      line-height: 38px;
      &.is-active {
        color: $--color-primary;
      }

      &:after {
        background-color: white;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: background-color .3s, background-color .3s, color .3s;
      }

      .content {
        position: relative;
        z-index: 1;
      }
    }

    &.el-menu__stanalone {
      background-color: $--color-primary;

      i {
        color: $--color-white;
        margin-right: 6px;
        font-size: $--font-size-extra-large;
      }

      > .el-menu-item {
        border-bottom: none;
        color: $--color-white;

        &:hover,
        &:focus {
          background-color: mix($--color-primary, black, 90%);
        }

        &:after {
          background-color: transparent;
        }

        &.is-active {
          border-bottom: 0;
          color: $--color-white;

          &:after {
            background-color: mix($--color-primary, black, 90%);
          }
        }
      }
    }
  }
}

.page-header-dropdown-menu {
  width: 220px;

  .el-dropdown-menu__item {
    .count {
      color: $--color-danger;
    }

    &:before,
    &:after {
      background-color: transparent;
      content: "";
      display: block;
      height: 6px;
    }

    &.is-disabled {
      color: $--color-text-regular;
    }

    &:hover {
      background-color: $--color-primary;
      color: $--color-white;

      .count {
        color: $--color-white;
      }
    }

    .current {
      color: $--color-primary;
    }
  }

  .el-dropdown-menu__item--divided {
    margin-top: 0;
  }
}
