.app-testBank{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &-header{
    padding: 0 50px;
    background: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    &-btns {
      display: flex;
      align-items: center;
      i{
        margin-left: 15px;
      }
    }
  }
  >section{
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow: auto;
  }
  .el-dialog{
    .el-row{
      .el-select{
        width: 100%;
      }
      .progress{
        background: #ededed;
        border-radius: 10px;
        width: 100%;
        height: 10px;
        span{
          display: inline-block;
          background: #3395FB;
          float: left;
          height: 10px;
        }
      }
    }
  }
  .test-bank-section{
    background: #fff;
    margin: 15px 50px 0 50px;
    padding: 20px;
    .el-row{
      .el-col {
        display: flex;
        align-items: center;
        >span{
          margin-right: 10px;
          flex-shrink: 0 ;
          width: 60px;
        }
      }
    }
    &--filter{
      .el-input__inner{
        border: 0  none;
        color: #3395FB;
      }
      &--item {
        margin-right: 20px;
        display: flex;
        align-items: center;
        .el-select{
          width: 120px;
        }
      }
    }
    .filter-label{
      display: flex;
      align-items: flex-start;
      &-menu{
        padding-right: 100px;
        width: 100%;
        &.hiddenMenu {
          height: 41px;
          overflow: hidden;
        }
      }
      >span{
        width: 80px;
        flex-shrink: 0;
        margin-top: 12px;
      }
      .el-button{
        margin-right: 20px;
        margin-left: 0;
        &.el-button--text{
          color: #333;
          &:hover{
            color: #3395FB;
          }
          &.active{
            color: #3395FB
          }
        }
      }
    }

  .bank-item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    >div{
      width: 25%;
      >div{
        margin: 10px;
        padding: 24px 24px 0 24px;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,.1);
        background: #fff;
        cursor: pointer;
        >div{
          width: 100%;
          display: flex;
          align-items: center;
          img{
            width: 54px;
            margin-right: 15px;
          }
          >div{
            position: relative;
            width: calc(100% - 60px);
          }
          p{
            span.color{
              margin-right: 10px;
            }
          }
          em{
            color: #999;
          }
          strong{
            display: block;
            width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: keep-all;
            white-space: nowrap;
            font-size: 18px;
          }
          .el-checkbox{
            position: absolute;
            right: 0;
            top: 0;
          }
        }
        .item-btn-groups{
          text-align: right;
          border-top: 1px solid #f0f0f0;
          margin-top: 20px;
          justify-content: flex-end;
          .el-button--text{
            color: #333;
            &:hover{
              color: #3395FB
            }
          }
        }
      }
    }
  }
  }
}
