@font-face {
  font-family: 'xc-icon';
  src:  url('fonts/xc-icon.eot?94ky5q');
  src:  url('fonts/xc-icon.eot?94ky5q#iefix') format('embedded-opentype'),
    url('fonts/xc-icon.ttf?94ky5q') format('truetype'),
    url('fonts/xc-icon.woff?94ky5q') format('woff'),
    url('fonts/xc-icon.svg?94ky5q#xc-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xc-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f000";
}
.icon-minus:before {
  content: "\f001";
}
.icon-up:before {
  content: "\f002";
}
.icon-down:before {
  content: "\f003";
}
.icon-left:before {
  content: "\f004";
}
.icon-right:before {
  content: "\f005";
}
.icon-safe:before {
  content: "\f006";
}
.icon-safe-manage:before {
  content: "\f007";
}
.icon-skin:before {
  content: "\f008";
}
.icon-layout:before {
  content: "\f009";
}
.icon-down-solid:before {
  content: "\f00a";
}
.icon-up-solid:before {
  content: "\f00b";
}
.icon-component:before {
  content: "\f00c";
}
.icon-drag-handle:before {
  content: "\f00d";
}
.icon-max-o:before {
  content: "\f00e";
}
.icon-import:before {
  content: "\f00f";
}
.icon-export:before {
  content: "\f010";
}
.icon-edit:before {
  content: "\f011";
}
.icon-delete:before {
  content: "\f012";
}
.icon-more-landscape:before {
  content: "\f013";
}
.icon-end-arrow:before {
  content: "\f014";
}
.icon-disable:before {
  content: "\f015";
}
.icon-cancel:before {
  content: "\f016";
}
.icon-report:before {
  content: "\f017";
}
.icon-save:before {
  content: "\f018";
}
.icon-bgcolor:before {
  content: "\f019";
}
.icon-border-style:before {
  content: "\f01a";
}
.icon-form-engine:before {
  content: "\f01b";
}
.icon-copy:before {
  content: "\f01c";
}
.icon-more:before {
  content: "\f01d";
}
.icon-more-vertical:before {
  content: "\f01e";
}
.icon-personal-home:before {
  content: "\f01f";
}
.icon-process:before {
  content: "\f020";
}
.icon-process-manage:before {
  content: "\f021";
}
.icon-home-engine:before {
  content: "\f022";
}
.icon-content:before {
  content: "\f023";
}
.icon-org-manage:before {
  content: "\f024";
}
.icon-attest:before {
  content: "\f025";
}
.icon-fa-calendar:before {
  content: "\f026";
}
.icon-design:before {
  content: "\f027";
}
.icon-setting:before {
  content: "\f028";
}
.icon-search:before {
  content: "\f029";
}
.icon-logout:before {
  content: "\f02a";
}
.icon-file:before {
  content: "\f02b";
}
.icon-folder:before {
  content: "\f02c";
}
.icon-view:before {
  content: "\f02d";
}
.icon-om-manage:before {
  content: "\f02e";
}
.icon-home:before {
  content: "\f02f";
}
.icon-content-manage:before {
  content: "\f030";
}
.icon-raido:before {
  content: "\f031";
}
.icon-radio-check:before {
  content: "\f032";
}
.icon-checkbox:before {
  content: "\f033";
}
.icon-checkbox-check:before {
  content: "\f034";
}
.icon-check:before {
  content: "\f035";
}
.icon-load:before {
  content: "\f036";
}
.icon-close-x:before {
  content: "\f037";
}
.icon-list-view:before {
  content: "\f038";
}
.icon-list:before {
  content: "\f039";
}
.icon-more-vertical-o:before {
  content: "\f03a";
}
.icon-password:before {
  content: "\f03b";
}
.icon-user:before {
  content: "\f03c";
}
.icon-refresh:before {
  content: "\f03d";
}
.icon-modify:before {
  content: "\f03e";
}
.icon-post:before {
  content: "\f03f";
}
.icon-group:before {
  content: "\f040";
}
.icon-fa-space-mana:before {
  content: "\f041";
}
.icon-video:before {
  content: "\f042";
}
.icon-draft-box:before {
  content: "\f043";
}
.icon-message:before {
  content: "\f044";
}
.icon-style:before {
  content: "\f045";
}
.icon-plus-o:before {
  content: "\f046";
}
.icon-minus-o:before {
  content: "\f047";
}
.icon-unlock:before {
  content: "\f048";
}
.icon-tips:before {
  content: "\f049";
}
.icon-mute:before {
  content: "\f04a";
}
.icon-history:before {
  content: "\f04b";
}
.icon-send:before {
  content: "\f04c";
}
.icon-send-line:before {
  content: "\f04d";
}
.icon-receiving:before {
  content: "\f04e";
}
.icon-lock:before {
  content: "\f04f";
}
.icon-star-solid:before {
  content: "\f050";
}
.icon-star-hollow:before {
  content: "\f051";
}
.icon-ding:before {
  content: "\f052";
}
.icon-voice:before {
  content: "\f053";
}
.icon-unread-mail:before {
  content: "\f054";
}
.icon-mail:before {
  content: "\f055";
}
.icon-fa-class:before {
  content: "\f056";
}
.icon-unit-manage:before {
  content: "\f057";
}
.icon-grade:before {
  content: "\f058";
}
.icon-campus:before {
  content: "\f059";
}
.icon-quota:before {
  content: "\f05a";
}
.icon-fa-moral:before {
  content: "\f05b";
}
.icon-help:before {
  content: "\f05c";
}
.icon-standard:before {
  content: "\f05d";
}
.icon-fa-graduation:before {
  content: "\f05e";
}
.icon-share:before {
  content: "\f05f";
}
.icon-user-o:before {
  content: "\f060";
}
.icon-mutiple-select:before {
  content: "\f061";
}
.icon-annex:before {
  content: "\f062";
}
.icon-related:before {
  content: "\f063";
}
.icon-id:before {
  content: "\f064";
}
.icon-money:before {
  content: "\f065";
}
.icon-calculation:before {
  content: "\f066";
}
.icon-phone:before {
  content: "\f067";
}
.icon-score:before {
  content: "\f068";
}
.icon-point:before {
  content: "\f069";
}
.icon-date:before {
  content: "\f06a";
}
.icon-num:before {
  content: "\f06b";
}
.icon-count:before {
  content: "\f06c";
}
.icon-text:before {
  content: "\f06d";
}
.icon-doc:before {
  content: "\f06e";
}
.icon-ques-ans:before {
  content: "\f06f";
}
.icon-select:before {
  content: "\f070";
  color: #515151;
}
.icon-name:before {
  content: "\f071";
}
.icon-call:before {
  content: "\f072";
  color: #666;
}
.icon-single-select:before {
  content: "\f073";
}
.icon-fixed-line:before {
  content: "\f074";
}
.icon-area:before {
  content: "\f075";
}
.icon-multi-line:before {
  content: "\f076";
}
.icon-list-num:before {
  content: "\f077";
}
.icon-level-select:before {
  content: "\f078";
}
.icon-tobe-read:before {
  content: "\f079";
}
.icon-store:before {
  content: "\f07a";
}
.icon-record:before {
  content: "\f07b";
}
.icon-equiWidth:before {
  content: "\f07c";
}
.icon-leftAlign:before {
  content: "\f07d";
}
.icon-rightAlign:before {
  content: "\f07e";
}
.icon-centerAlign:before {
  content: "\f07f";
}
.icon-bottomAlign:before {
  content: "\f080";
}
.icon-centerVertical:before {
  content: "\f081";
}
.icon-topAlign:before {
  content: "\f082";
}
.icon-equiHeight:before {
  content: "\f083";
}
.icon-three-col:before {
  content: "\f084";
}
.icon-two-col:before {
  content: "\f085";
}
.icon-three-row-col:before {
  content: "\f086";
}
.icon-office-doc:before {
  content: "\f087";
}
.icon-null:before {
  content: "\f088";
}
.icon-absence:before {
  content: "\f089";
}
.icon-comment:before {
  content: "\f08a";
}
.icon-fresh:before {
  content: "\f08b";
}
.icon-mix:before {
  content: "\f08c";
}
.icon-tongdao:before {
  content: "\f08d";
}
.icon-gateway:before {
  content: "\f08e";
}
.icon-no-read-msg:before {
  content: "\f08f";
}
.icon-textarea:before {
  content: "\f090";
}
.icon-project:before {
  content: "\f091";
}
.icon-msg:before {
  content: "\f092";
}
.icon-chose:before {
  content: "\f093";
}
.icon-stu-doc:before {
  content: "\f094";
}
.icon-school-introduce:before {
  content: "\f095";
}
.icon-done:before {
  content: "\f096";
}
.icon-have-read:before {
  content: "\f097";
}
.icon-print:before {
  content: "\f098";
}
.icon-email:before {
  content: "\f099";
}
.icon-draft:before {
  content: "\f09a";
}
.icon-forward:before {
  content: "\f09b";
}
.icon-field:before {
  content: "\f09c";
}
.icon-version:before {
  content: "\f09d";
}
.icon-training-experience:before {
  content: "\f09e";
}
.icon-test:before {
  content: "\f09f";
}
.icon-venue-reservation-:before {
  content: "\f0a0";
}
.icon-repeat:before {
  content: "\f0a1";
}
.icon-push:before {
  content: "\f0a2";
}
.icon-max-s:before {
  content: "\f0a3";
}
.icon-mix-o:before {
  content: "\f0a4";
}
.icon-error:before {
  content: "\f0a5";
}
.icon-ok:before {
  content: "\f0a6";
}
.icon-transfor:before {
  content: "\f0a7";
}
.icon-curriculum:before {
  content: "\f0a8";
}
.icon-filter:before {
  content: "\f0a9";
}
.icon-addressbook:before {
  content: "\f0aa";
}
.icon-waiting:before {
  content: "\f0ab";
}
.icon-back:before {
  content: "\f0ac";
}
.icon-list-style:before {
  content: "\f0ad";
}
.icon-del-o:before {
  content: "\f0ae";
}
.icon-add-solid-o:before {
  content: "\f0af";
}
.icon-minus-solid-o:before {
  content: "\f0b0";
}
.icon-map:before {
  content: "\f0b1";
}
.icon-apply:before {
  content: "\f0b2";
}
.icon-check-doc:before {
  content: "\f0b3";
}
.icon-double-down:before {
  content: "\f0b4";
}
.icon-column:before {
  content: "\f0b5";
}
.icon-pic:before {
  content: "\f0b6";
}
.icon-trip:before {
  content: "\f0b7";
}
.icon-write-off:before {
  content: "\f0b8";
}
.icon-entertain:before {
  content: "\f0b9";
}
.icon-over-time:before {
  content: "\f0ba";
}
.icon-attendance:before {
  content: "\f0bb";
}
.icon-end:before {
  content: "\f0bc";
}
.icon-start:before {
  content: "\f0bd";
}
.icon-parallelGateway:before {
  content: "\f0be";
}
.icon-inclusiveGateway:before {
  content: "\f0bf";
}
.icon-exclusiveGateway:before {
  content: "\f0c0";
}
.icon-flowCheck:before {
  content: "\f0c1";
}
.icon-setTitle:before {
  content: "\f0c2";
}
.icon-redo:before {
  content: "\f0c3";
}
.icon-undo:before {
  content: "\f0c4";
}
.icon-direct:before {
  content: "\f0c5";
}
.icon-cursor:before {
  content: "\f0c6";
}
.icon-usertask:before {
  content: "\f0c7";
}
.icon-result:before {
  content: "\f0c8";
}
.icon-launch:before {
  content: "\f0c9";
}
.icon-laboratory:before {
  content: "\f0ca";
}
.icon-resource:before {
  content: "\f0cb";
}
.icon-saveOut:before {
  content: "\f0cc";
}
.icon-email-reply:before {
  content: "\f0cd";
}
.icon-email-forward:before {
  content: "\f0ce";
}
.icon-full-screen:before {
  content: "\f0cf";
}
.icon-checkin:before {
  content: "\f0d0";
}
.icon-water-ele:before {
  content: "\f0d1";
}
.icon-small:before {
  content: "\f0d2";
}
.icon-checkout:before {
  content: "\f0d3";
}
.icon-checkin-manage:before {
  content: "\f0d4";
}
.icon-big:before {
  content: "\f0d5";
}
.icon-next:before {
  content: "\f0d6";
}
.icon-prev:before {
  content: "\f0d7";
}
.icon-hot:before {
  content: "\f0d8";
}
.icon-move-down:before {
  content: "\f0d9";
}
.icon-move-up:before {
  content: "\f0da";
}
.icon-book:before {
  content: "\f0db";
}
.icon-success:before {
  content: "\f0dc";
}
.icon-pay:before {
  content: "\f0dd";
}
.icon-transport:before {
  content: "\f0de";
}
.icon-root:before {
  content: "\f0df";
}
.icon-file-tray:before {
  content: "\f0e0";
}
.icon-stock:before {
  content: "\f0e1";
}
.icon-insert:before {
  content: "\f0e2";
}
.icon-to-read:before {
  content: "\f0e3";
}
.icon-move-to:before {
  content: "\f0e4";
}
.icon-triangle-line:before {
  content: "\f0e5";
}
.icon-triangle-down-solid:before {
  content: "\f0e6";
}
.icon-deploy:before {
  content: "\f0e7";
}
.icon-trial-agreement:before {
  content: "\f0e8";
}
.icon-network-investment:before {
  content: "\f0e9";
}
.icon-tender:before {
  content: "\f0ea";
}
.icon-hardware-require:before {
  content: "\f0eb";
}
.icon-sales-contract:before {
  content: "\f0ec";
}
.icon-operation:before {
  content: "\f0ed";
}
.icon-account-application:before {
  content: "\f0ee";
}
.icon-special-price:before {
  content: "\f0ef";
}
.icon-account-trial:before {
  content: "\f0f0";
}
.icon-job-support:before {
  content: "\f0f1";
}
.icon-custom-solutions:before {
  content: "\f0f2";
}
.icon-process-tender:before {
  content: "\f0f3";
}
.icon-marketing-activity:before {
  content: "\f0f4";
}
.icon-admission:before {
  content: "\f0f5";
}
.icon-channel-training:before {
  content: "\f0f6";
}
.icon-public-class:before {
  content: "\f0f7";
}
.icon-signed:before {
  content: "\f0f8";
}
.icon-lecturer-consulting:before {
  content: "\f0f9";
}
.icon-reception:before {
  content: "\f0fa";
}
.icon-down-sort:before {
  content: "\f0fb";
}
.icon-up-sort:before {
  content: "\f0fc";
}
.icon-maxin:before {
  content: "\f0fd";
}
.icon-mixin:before {
  content: "\f0fe";
}
.icon-warehouse:before {
  content: "\f0ff";
}
.icon-outbound:before {
  content: "\f100";
}
.icon-expand:before {
  content: "\f101";
}
.icon-school-res .path1:before {
  content: "\f102";
  color: rgb(0, 0, 0);
}
.icon-school-res .path2:before {
  content: "\f103";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-school-res .path3:before {
  content: "\f104";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-consumables .path1:before {
  content: "\f105";
  color: rgb(0, 0, 0);
}
.icon-consumables .path2:before {
  content: "\f106";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-consumables .path3:before {
  content: "\f107";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-columnar:before {
  content: "\f108";
}
.icon-kebiao:before {
  content: "\f109";
}
.icon-kaoqin:before {
  content: "\f10a";
}
.icon-jiaoxueda:before {
  content: "\f10b";
}
.icon-xiaoli:before {
  content: "\f10c";
}
.icon-xinxi:before {
  content: "\f10d";
}
.icon-youjian:before {
  content: "\f10e";
}
.icon-wenjianpan:before {
  content: "\f10f";
}
.icon-qingjia:before {
  content: "\f110";
}
.icon-shenpi:before {
  content: "\f111";
}
.icon-xiaoben:before {
  content: "\f112";
}
.icon-kaowu:before {
  content: "\f113";
}
.icon-keyan:before {
  content: "\f114";
}
.icon-keti:before {
  content: "\f115";
}
.icon-tongxunlu:before {
  content: "\f116";
}
.icon-xiaohaopin .path1:before {
  content: "\f117";
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-xiaohaopin .path2:before {
  content: "\f118";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.icon-xiaohaopin .path3:before {
  content: "\f119";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-xiaohaopin .path4:before {
  content: "\f11a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-baoming:before {
  content: "\f11b";
}
.icon-changguan:before {
  content: "\f11c";
}
.icon-zhouzhuanfang:before {
  content: "\f11d";
}
.icon-bisai:before {
  content: "\f11e";
}
.icon-chengji:before {
  content: "\f11f";
}
.icon-deyu:before {
  content: "\f120";
}
.icon-jiaoshida:before {
  content: "\f121";
}
.icon-xueshengpj:before {
  content: "\f122";
}
.icon-xueshengda:before {
  content: "\f123";
}
.icon-pingjia:before {
  content: "\f124";
}
.icon-gongwen:before {
  content: "\f125";
}
.icon-banpai:before {
  content: "\f126";
}
.icon-jiaxiao:before {
  content: "\f127";
}
.icon-peixun:before {
  content: "\f128";
}
.icon-gongzi:before {
  content: "\f129";
}
.icon-faqi-quxiao:before {
  content: "\f12a";
}
.icon-yichu:before {
  content: "\f12b";
}
.icon-yiru:before {
  content: "\f12c";
}
.icon-match:before {
  content: "\f12d";
}
.icon-classact:before {
  content: "\f12e";
}
.icon-caution:before {
  content: "\f12f";
}
.icon-nan:before {
  content: "\f130";
}
.icon-jiankong-shixin:before {
  content: "\f131";
}
.icon-jiankong:before {
  content: "\f132";
}
.icon-zan-shixin:before {
  content: "\f133";
}
.icon-zan:before {
  content: "\f134";
}
.icon-sxpj-solid:before {
  content: "\f135";
}
.icon-nv:before {
  content: "\f136";
}
