html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: #f8f8f8;
  overflow: hidden;
}

a {
  color: $--color-text-primary;
  text-decoration: none;

  &:hover {
    color: $--color-primary;
  }

  &:focus {
    outline-color: $--color-primary;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: top;
}

i,em {
  font-style: normal;
}
