html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body > div[id*="single-spa-application"] {
  height: 100%;
}

body{
  background: #f8f8f8;
  overflow: hidden;
}

* {
  font-size: 14px;
}

a {
  color: $--color-text-primary;
  text-decoration: none;

  &:hover {
    color: $--color-primary;
  }

  &:focus {
    outline-color: $--color-primary;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: top;
}

i,em {
  font-style: normal;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li:not(.active) {
  background-color: transparent !important;
}
