* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #f8f8f8;
  overflow: hidden;
}

body > div[id*="single-spa-application"] {
  height: 100%;
}

a {
  color: $--color-text-primary;
  text-decoration: none;

  &:hover {
    color: $--color-primary;
  }

  &:focus {
    outline-color: $--color-primary;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: top;
}

i,em {
  font-style: normal;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li:not(.active) {
  background-color: transparent !important;
}

.el-avatar>img {
  width: 100%;
}

.el-date-editor .el-range-separator {
  box-sizing: content-box;
}

.el-image-viewer__close {
  background-color: #606266;
  color: #fff;
  border-radius: 6px;
}
